.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Ensure 3 cards per row */
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 1rem;
    /* Add padding */
    margin: -1rem;
    /* Negative margin to offset the padding */
}

.card-image {
    flex: 0 0 auto;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.content {
    flex: 1;
}

.read-more {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

.article-time {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #666;
}

footer {
    background-color: gray;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    background-color: white;
    color: black;
    /* Ensure this is visible */
    text-align: left;
    width: 100%;
    height: 40px;
    margin: 0;
    font-size: 18px;
    padding-top: 20px;
}

/* Add hover effect */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(255, 255, 255, 0.1);
    z-index: 1;
    border-color: white;
    /* Ensure the card is above others when hovered */
}